<!-- Swiper Library -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<!-- Swiper Styles -->
<style>
    .swiper_bullets-wrapper.swiper-pagination-horizontal {
        width: auto;
    }
</style>

<!-- Basic Swiper Slider -->
<script>
    $(".swiper_component").each(function () {
        let slidesPerView = "auto";
        let followFinger = $(this).attr("followFinger");
        let speed = parseInt($(this).attr("speed"));
        let autoHeight = $(this).attr("autoHeight");

        const swiper = new Swiper($(this).find(".swiper")[0], {
            slidesPerView: slidesPerView,
            followFinger: followFinger,
            speed: speed,
            autoHeight: autoHeight,
            pagination: {
                el: $(this).find(".swiper_bullets-wrapper")[0],
                bulletActiveClass: "is-active",
                bulletClass: "swiper_bullet",
                bulletElement: "button",
                clickable: true
            },
            navigation: {
                nextEl: $(this).find("[swiper-next]")[0],
                prevEl: $(this).find("[swiper-prev]")[0],
                disabledClass: "is-disabled"
            }
        });
    });
</script>